*
!.config/emacs/early-init.el
!.config/emacs/eww-bookmarks
!.config/emacs/gnus.el
!.config/emacs/init.el
!.config/emacs/snippets/org-mode/contact
!.config/git/config
!.config/guix/channels.scm
!.config/guix/config.scm
!.config/guix/desktop.pub
!.config/guix/home.scm
!.config/guix/manifest.scm
!.config/guix/update
!.config/mpd/mpd.conf
!.config/mpv/input.conf
!.config/nyxt/init.lisp
!.config/pass-git-helper/git-pass-mapping.ini
!.config/sx/sxrc
!.config/wget/wgetrc
!.config/youtube-dl/config
!.gitignore
!.local/share/gnupg/gpg-agent.conf
!LICENSE
