*
!.bash_profile
!.bashrc
!.bin/compiler
!.bin/displayselect
!.bin/gcode
!.bin/lmc
!.bin/m
!.bin/mpcnextsong
!.bin/notify
!.bin/opout
!.bin/remaps
!.bin/xinputtoggle
!.config/.zshrc
!.config/acpi/handler.sh
!.config/aliasrc
!.config/dunst/dunstrc
!.config/envdir/HOME
!.config/hardwareprofiles/board.bin
!.config/hardwareprofiles/surfacego
!.config/hardwareprofiles/surfacegowififix.sh
!.config/hardwareprofiles/thinkpadE550
!.config/mpd/mpd.conf
!.config/nvim/init.vim
!.config/progs.csv
!.config/setup.sh
!.config/sucklessconfigs/slstatusconfig.h
!.config/sxiv/exec/key-handler
!.config/systemservices/mpdsetup/run
!.config/systemservices/pancake/run
!.config/systemservices/undervolt/run
!.gitignore
!.inputrc
!.profile
!.service/mpd/run
!.service/syncthing/run
!.vimrc
!.xinitrc
!.xprofile
!.zprofile
!LICENSE
