.Rhistory
.Xauthority
.abook/
.bash_history
.bash_logout
.cache
.config/GIMP/
.config/QtProject.conf
.config/Signal/
.config/VirtualBox/
.config/bookmarks
.config/fontforge/
.config/glib-2.0/
.config/gtk-2.0/
.config/hardwareprofile
.config/htop/
.config/libreoffice/
.config/mpd/database
.config/mpd/log
.config/mpd/pid
.config/msmtp/
.config/mutt/
.config/nvim/autoload/
.config/nvim/colors/
.config/nvim/cscope_maps.vim
.config/nvim/spell/
.config/pulse/
.config/scudcloud/
.config/surf/
.config/sxhkd/sxhkdrc
.config/syncthing/
.config/transmission-daemon/
.config/vlc/
.config/wpa_supplicant/wpa_supplicant.conf
.dbus/
.gitconfig
.gnupg
.gnuplot_history
.grive
.java/
.lesshst
.lmmsrc.xml
.local/
.mbsyncrc
.minecraft/
.minetest/
.mozilla/
.msmtprc
.multimc/
.notmuch-config
.pal
.password-store/
.python_history
.sciminfo
.service/mpd/supervise/
.service/syncthing/supervise/
.ssh
.surf/
.urlview
.vim/
.wget-hsts
.wine/
.wpa_cli_history
.xournal/
3320
3501
3502
Downloads/
drive/
music/
pictures/
repos/
sent/
sync/
